@font-face { font-family: 'sprint-med-Regular'; src: url('fonts/Sprint Sans Ofc Med-Regular.ttf'); }
@font-face { font-family: 'sprint-Bold'; src: url('fonts/Sprint Sans Ofc-Bold.ttf'); }
@font-face { font-family: 'sprint-Italic'; src: url('fonts/Sprint Sans Ofc-Italic.ttf'); }
@font-face { font-family: 'sprint-Regular'; src: url('fonts/Sprint Sans Ofc-Regular.ttf'); }

header {
    background-color: #000000;
    color : white;    
}

header li {
    display: inline-block;
}

header li a {
    display: block;
    text-align: center;
    padding: 0 8px;
    text-decoration: none;
    color : #D5DbDE;
    border-right: 1px solid #D5DbDE;
    font-size:.65em;
}

header li a:hover,
#top-links li a:hover {
    color: #ffc20e;
}

header nav{
    font-size: .8em;
}

header nav li a {
    border : none;
    font-size: 1em;
    text-decoration: none;
}

header nav li a:hover{
    text-decoration: none;
}

header .search-icon{
    background : url(/SprintSurvey/images/magnifyingGlassIcon.png) no-repeat;     
    width: 20px;
    height: 20px;
    background-size: 20px; 
    position: absolute;
    right: 0;
    margin-right: 30px;
    bottom: 16px;
}

footer {
    background-color: #000000;
    color: #ffffff;   
    width: 100%;  
    font-size: .8em;
}

footer ul {
    list-style-type: none;
    margin: 0;
    margin-left: -15px;
    padding: 0;
    overflow: hidden;
}

footer ul.social-links {
    display: inline-block;
    margin-top: 10px;
}

footer li {
    float: left;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 11px;
    text-decoration: none;
}

footer li a:hover {
    color: #ffc20e;
}

.copyright{
    font-size: .85em;
    padding: 0.75em 0;
    margin: 0;
}

.sprint-refresh {
    margin-top: 30px;
    margin-left: 20px;
    padding-bottom: 20px;
}

.sprint-refresh>button {
    color: #888888;
    transition: 300ms;
    background: none;
    border: none;
    padding: 0px;
    font-family: sprint-Regular;
    font-size: 14px;
}

.sprint-refresh>button:hover {
    color: #ffc20e;
    text-decoration: none;
}

.survey-sidebar {
    background: linear-gradient(to right, #f9fafa , white);
    border-left: 4px solid #d5dbde;
}

.inner-survey-path .icon .fa {
    border: 4px solid transparent;
    border-radius: 50px;
    padding: 13px;
    margin-left: -21px;
    margin-right: 10px;
    background: #FFF;
    font-size: 30px;
    color: #d5dbde;
    border: 4px solid #d5dbde;
    width: 40px;
    height: 40px;
}

.fa-road::before, .fa-briefcase::before, 
.fa-edit:before, 
.fa-pencil-square-o::before,
.fa-user-plus::before,
.fa-check:before{
    position: relative;   
    right: 8px;
    bottom: 7px;
    font-size: 21px;
}

.survey-path-sidebar .inner-survey-path {
    padding-top: 30px;
    margin-left: -19px;
    border-left: 4px solid transparent;
    font-weight: 400;
    font-size: 16px;
    color: #888888;
}

.inner-survey-path span:last-child{
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
}

.inner-survey-path .icon.yellow .fa {
    border: 4px solid #ffc20e;
    color: #ffc20e;
}

.survey-path-sidebar .inner-survey-path.yellow {
    border-left: 4px solid #ffc20e;
    color: #ffc20e;
    margin-left: -19px;
    font-family: sprint-med-Regular ;
}

.inner-survey-path .icon.done .fa {
    border: 4px solid #ffc20e;
    color: #ffffff;
    background: #ffc20e;
}

.survey-path-sidebar .inner-survey-path.done {
    border-left: 4px solid #ffc20e;
    color: #ffc20e;
}

.site-content .survey-sidebar {
    padding-left: 0px !important;
    margin-top: -80px;
    z-index: 0;
}

select, textarea, input[type="text"], input[type="number"], input[type="email"], input[type="tel"] {
    width: 100%;
    height: 40px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0px;
    border: 1px solid #768692;
}

a.survey-button, button.survey-button {
    margin-right: 130px;
    margin-top: -10px;
    background: #ffc20e;
    color: black;
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    width: max-content;
    height: unset;
}

.btn-group label.btn {
	color: #777777 !important;
	background-color: white !important;
	border: 1px solid #768692 !important;
	text-align: center;
	transition: 300ms;
	cursor: pointer;
	min-height: 40px;
	padding: 5px;
	margin-top: -2px !important;
	margin-left: -2px !important;
	margin-bottom: 0px !important;
    border-radius: 0px;
	white-space: normal;
    font-size: 15px !important;
    font-family: "sprint-med-Regular";
    font-size: 12px !important;
}

.btn-group label.btn:hover {
	color: #777777 !important;
	background-color: white !important;
	border: 2px solid #d5dbde !important;
	text-align: center;
	transition: 300ms;
	cursor: pointer;
	min-height: 40px;
}

.btn-group label.btn.active {
	color: white !important;
	background-color: #768692 !important;
	border: 2px solid #768692 !important;
	text-align: center;
	transition: 300ms;
	cursor: pointer;
	min-height: 40px;
}

.btn-group label.btn.focus {
	outline:0 !important;
	box-shadow: none;
}

[data-toggle=buttons]>.btn input[type=checkbox],
[data-toggle=buttons]>.btn input[type=radio],
[data-toggle=buttons]>.btn-group>.btn input[type=checkbox],
[data-toggle=buttons]>.btn-group>.btn input[type=radio]
{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

@media (max-width: 991px) {
    .btn-vertical {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
    .btn-vertical > .btn,
    .btn-group > .btn {
      position: relative;
      float: left;
    }
    .btn-vertical > .btn,
    .btn-vertical > .btn-group,
    .btn-vertical > .btn-group > .btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
    }
    .btn-vertical > .btn-group > .btn {
      float: none;
    }
    .btn-vertical>.btn+.btn,
    .btn-vertical>.btn+.btn-group,
    .btn-vertical>.btn-group+.btn,
    .btn-vertical>.btn-group+.btn-group {
      margin-top: -1px;
      margin-left: 0;
    }
    .btn-vertical>.btn:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    .btn-vertical>.btn:first-child:not(:last-child) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .btn-vertical>.btn:last-child:not(:first-child) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .btn-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
      border-radius: 0;
    }
    .btn-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,
    .btn-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .btn-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

.errorMessages {
    display: none;
    list-style-type: disc;
    margin: 0 10px 15px 10px;
    padding: 8px 35px 8px 30px;
    color: #B94A48;
    background-color: #F2DEDE;
    border: 2px solid #EED3D7;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.errorMessages span {
    font-weight: bold;
}

span.not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

div.validation-errors {
    border: 2px solid #f7e700;
}

div.response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    margin-top: 45px;
}

.display-none {
    display: none;
}

.submit:focus,
.previous:focus {
    outline: none;
}

.previous {
    border: 2px solid #000000;
    background: #000000;
    color: #ffc20e;
    padding: 6px;
    border-radius: 20px;
    min-width: 150px;
    transition: 300ms;
    font-family: "sprint-Regular";
    font-size: 16px;
}

.submit {
    border: none;
    background: #ffc20e;
    color: #FFF;
    padding: 8px;
    border-radius: 20px;
    min-width: 150px;
    font-family: "sprint-Regular";
    font-size: 16px;
}


.survey-content {
    display: flex;   
}

.survey-sidebar{
    height: 81%;
    font-family: "sprint-Regular";
    font-size: 16px;
}


.inline{
    display:inline-block;
}

.survey-path-sidebar{
    min-width: 600px;
}

.survey-title{
   font-size:2.5em; 
   margin: 50px 0;
   width: 48%;
   font-family: sprint-med-Regular;
   font-size: 40px;   
}

.banner img{
    width: 100%;
}

.key-trend{
    border-left: 2px solid #ffc20e;
    padding:1.63em 1em;   
}

.key-trend-title{
    display: block;
	font-family: "sprint-med-Regular";
    font-size: 20px;
    margin: 15px 0;
}

.start-survey{
    padding: 20px;
    background: #ffc20e;
    margin-top: 20px;    
}

.start-survey p{
    font-size: 1.5em;
    line-height: 1.2; 
    font-size: 24px;
    font-family: "sprint-med-Regular";   
}

.start-survey a{
    background: black;
    color:#ffc20e;
    border-radius: 2.5em;
    padding: 10px 20px;
    border:none;
    line-height: 1.2;
    text-decoration: none; 
    display:block;
    text-align: center;   
}

.survey-info, .result-info{
    background: #F3F4F4;
    padding-bottom: 50px;
}    

.key-trend-info{
    border-left: 2px solid black;
    padding:1.63em; 
}

.key-trend-info .key-trend-title{
    color: #768692;
}

.question-section {
    width: 70%;
    float: center;
}

.path>label {
    background:#F3F4F4;
    min-height: 300px; 
    width: 100%; 
    transition: 300ms;
    cursor: pointer;
    padding-top: 3em;
} 

.path>label p {
    padding: 10px;
} 

.path>label.item-select{
    background: #ffc20e;
}

.path>label span{
    font-size: 14px;
    display: block;
    margin-top:.8em;
    font-family: "sprint-med-Regular";
}

.path>label img {
    width: 25%;
}

.path>label.item-select {
   opacity: 1;
}

.path>label>input{
    opacity: 0;
}

.form-footer2{
    margin-top: 20px;
}

.aside-desktop{
    display: inline-block;
    width: 30%;
    position: absolute;
    right: 0;
    top: 152px;
    height: 74%;
}

.survey-section{
    width: 80%;
    padding: 50px 0;
}

.competitiveness-trend{
    border-top: 3px solid #ffc20e;
    margin-bottom: 20px;
}

.competitiveness-trend a.survey-button {
    margin-right: 0;
}

.competitiveness-trend .results-section2.results-score{
    padding: 20px;
    font-family: sprint-med-Regular;
}

.yellow-section{
    background: #ffc20e;    
}

.yellow-section .results-section2.results-score{
    margin:0;
    padding: 20px 10px;
}

.recommended-solutions{
    padding: 40px 0;
    background: #F3F4F4;   
}

.solution-card{
   margin-top: 10px;   
   background: white;
   border-radius:5px;
}

.solution-card img{
    width: 100%;
}

.solution-card h4{
    margin: 10px 25px 0 25px;
}

.solution-card p{
    padding: 10px 25px 25px 25px;
    text-align: left;
    margin: 0;
}

.solution-card input{
    opacity: 0;
}

.solution-card .card-footer{
    padding: 5px;
    border-radius: 0;
    border:none;
    background: white;   
}

.card-selcted{
    opacity: 0;
}

input[type="radio"].card-selcted:checked + label .card-footer{    
    background: #ffc20e;
    border-radius: 0 0 5px 5px; 
}

input[type="radio"].card-selcted:checked + label img{
    opacity: .5;
}

.SprintModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.1);
}
.SprintModal-content {
    position: relative;
    text-align: center;
    padding: 2px 16px;
    background-color: #d5dbde;
    margin: auto;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close-SprintModal {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
    margin-right: -8px;
}
.close-SprintModal:hover, .close-SprintModal:focus {
    text-decoration: none;
    cursor: pointer;
}
.SprintModal h4 {
    font-size: 16px;
}
.SprintModal p {
    font-size: 11px;
}
.SprintModal .start-over-btn {
    border: none;
    background: #ffc20e;
    color: #000;
    font-size: 14px;
    padding: 6px 24px 8px;
    border-radius: 20px;
    cursor: pointer;
}

@media (max-width: 990px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 991px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (min-width: 991px) {
    .hidden-lg-up {
        display: none !important;
    }
}


@media (min-width: 991px) {
    .yellowLeftBorder {
        margin-left: 3px;
    }
}

@media (max-width: 990px) {
    .yellowRule {
        border-top: 2px solid #ffc20e;
        background-color: #ffc20e;
    }
}

.results-section {
    border-left: 2px solid #ffc20e
}

.results-section .results-score {
    margin-top: 17px;
    font-size: 40px;
    color: #768692;
    font-family: 'sprint-med-Regular' !important;
}

.titles-results {
    margin-bottom: 10px;
}

.results-section.no-bottom-mg {
    margin-bottom: 0px !important;
    border-left: 4px solid #ffc20e
}

.site-content .results-section, .site-content .results-section2, .site-content .results-section3 {
    width: 100%;
}

.site-content .row.home-container, .site-content .results-section2 {
    width: 1200px !important;
    margin: 0 0 0 -110px;
}

.results-section2.results-score {
    background: #ffc20e;
    margin-bottom: 20px;
    padding: 10px;
}

.results-section3 .results-score h4 {
    color: #768692;
}

.results-section3 {
    margin-bottom: 40px;
}

.results-section4.results-score {
    background: #ffc20e;
    padding: 25px;
}

div#questionsCon {
    margin-bottom: 30px;
}

.mainContent {
    padding-top: 30px;
}

.mainContent h4{
    padding-left: 3px;
}

.next-btn-company {
    margin-top: 24px;
}

.nextBtnSurvey{
    margin-top: 52px;
}

.answersSquares label.btn.btn-primary.col-12{
    padding: 10px;
   
   min-height: 8px;
}


@media (max-width: 991px) {
    .futureSpace {
        margin-top: 40px;
    }
}

@media (max-width: 991px) {
    .nextBtnSurvey{
        margin-top: 80px;
    }
}

@media only screen and (min-width: 1024px) {
     .footer-desktop{
         position: absolute;
         bottom: 0;
     }
 
 }


 @media only screen and (max-width: 980px) {         
     header .slogan{
         padding: 13px 0;
         float:none;
         position: inherit;
         left: 0;
     }
     header .logo img{
         width: 100%;
     }
     header h3{
         font-size: 1.5rem;
         text-align: center;
     }
     .footer ul{
         margin:5px 0;                
     }
     .footer li a{
         padding: 4px 10px;
     }
 
     .footer-desktop{
         position: inherit;
     }

    .mainContent{
        padding: 50px 0 !important;
        padding-bottom: 25px !important;
    }
 
     .results-section{
         border:none;
     }

     .yellowRule {
         width: 50%;
         margin: 0;
     }

     .information-page-yellow{
         background: #F3F4F4;
     }
     
     .information-page-yellow .retake-survey-mobile{
        padding: 20px;
     }

     .retake-survey-mobile p{
         font-size: 1.5em;
         line-height: 1.2;
     }

     .retake-survey-mobile a.survey-button{
         display: block;
         text-decoration: none;
         font-size: .7em;
         margin: 0;
     }

     .yellow-section .icon-email-mobile {
         padding-top: 20px;
     }

     .results-section3  + hr {  
        background: #7F7F7F;       
        border-width: 2px;
        width: 50%;
        margin: 0;
    }

    .results-section3 img{
        padding-top: 20px;
    }
    .container{
        width: 95%;
    }
    .leyend{
        font-family: "sprint-Regular";
        font-size: 9px !important;
    }

    .path>label p {
        margin-left: 70px;
        margin-right: 70px;
        text-align: justify;
    }
    .container{
        width: 93%;
    }
    .result-container{
        width: 100%;
    }
 }

 .percentages{
    margin-top: 17px;
    color: #768692;
    font-family: 'sprint-med-Regular' !important;
    font-size: 60px;
    padding-left: 25px;
}
 
.competitiveness-trend .results-section2.results-score{
    padding: 20px;
    padding-top: 90px;
    padding-bottom: 0;
    font-family: sprint-med-Regular;
    font-size: 24px;
    max-width: 610px;
}

 @media only screen and (max-width: 480px) {         
     .menu-icon{
         width: 2.8em;
     }
     header h3{
         font-size: 1.4rem;                
     }
     .logo-mobile{
         width:2em;               
     }
     .menu-icon,
     .logo-mobile{
         margin-top: 5px;
     }     
 
     .survey-title{
         margin: 25px 0;
         width: 100%; 
         font-family: sprint-med-Regular;
         font-size: 28px;
      }
      .key-trend,
      .key-trend-info{
         border:none;   
         padding-bottom: 0;     
     }
     
     .key-trend-info {
        padding-left: 0;
    }
     .key-trend hr,
     .key-trend-info hr{
         margin: 1.5em 0 0 0;
         border-width: 2px;
         width: 50%;
     }
 
     .key-trend hr{
         border-color: #ffc20e;
     }
 
     .key-trend-info hr{
         border-color:black;
     }
 
     .start-survey p{
         font-size:20px;             
     }
 
     .start-survey a{
         display: block;
         margin-top: 1em;
         width: 50%;
     }
     .col-md-9.col-lg-10.col-12,
     .col-md-3.col-lg-2.col-12{
         padding-left: 0px;
     }
     .mainContent h4 {
        padding-left: 0px;
    }

    div#retakeSurveydiv{
        padding-top: 29px;
    }
 
    .banner img{
       height: 321px;;
    }
    .col-sm-4.col-12{
        padding-left: 0px;
    }
    .key-trend-title {
        font-size: 24px;
    }
    .key-trend-info .key-trend-title {
        color: black;
    }
    .nextBtnChoose {
        padding-left: 219px;
        padding-top: 20px;
    }
    img.hidden-md-up.not-visible.go-btn-company{
        width: 28.8px;
        height: 28.8px;
        margin-left: -2px;
        margin-top: 12px;
    }
    .h5, h5 {
        font-size: 20px !important;
    }
    h1{
        font-size: 28px !important;
    }
    .percentages{
        font-size: 66px;
    }
    h4{
        font-size: 20px !important;
    }
    .competitiveness-trend .results-section2.results-score{
        font-family: "sprint-med-Regular";
        font-size: 24px;
        padding-top: 14px !important;
    }
    .result-mobile{
        margin-top: 17px;
        font-size: 24px !important;
        color: black !important;
        font-family: 'sprint-med-Regular';
    }
 }

 @media(min-width:922px){
/*    .chooseBox{
        padding:3px;
    }*/
    .nextBtnCompany {
        margin-top: 160px;
    }
    .container-fluid{
        padding-top: 70px;
    }

   /* select, textarea,
    input[type="text"], 
    input[type="number"], 
    input[type="email"], 
    input[type="tel"],
    .company-radios{
        width: 245px;
    } */

    .next-btn-company{
        margin-top: 136px;
    }

    #prevBtnCompanyInfo,
    #prevBtnUserInfo,
    #prevBtnUserInfo1,
    #prevBtnUserInfo2{
        float: left;
    }

    #nextBtnCompanyInfo,
    #nextBtnUserInfo,
    #nextBtnUserInfo1,
    #nextBtnUserInfo2{
       margin-right: 54px;
    }
    .form-footer{
        font-size: 12px !important;
    }
    .leyend{
        width: 565px;
        text-align: justify;
        font-family: "sprint-Regular";
        font-size: 9px !important;
    }
    .sprint-slides-survey{
        max-width: 82%;
    }
    .h5, h5{
        font-size: 24px;
    }
    .futureSpace{
        margin-top: 40px;
    }

    .competitiveness-trend .results-section2.results-score{
        padding: 20px;
        padding-top: 90px;
        padding-bottom: 0;
        font-family: sprint-med-Regular;
        font-size: 38px;
        max-width: 610px;
    }

    .start-survey{
        padding: 44px;
        padding-top: 46px;
    }
    .path>label p {
        padding: 36px;
        text-align: justify;
        font-size: 10px;
        margin-top: -27px;
		line-height: 10px;
    }
    .path>label img {
        padding-top: 27px;
    }
    .results-section .results-score {
        margin-left: 42px;
        padding-top: 18px;
    }
    a#SprintModalBtnResults{
        margin-left: 221px;
    }
    .col-12.col-12-ChoosePath{
        padding-left: 0;
    }
    .h5, h5{
        padding-bottom: 10px;
    }
    .benchmark{
        margin-top:111px;
    
    }
}

@media(min-width:922px){
    .col-12-ChoosePath h4{
        padding-left :0;
    }
    .multi-selection{
        padding-right: 266px;
    }
}

.col-12-Company{
    padding-left :27px;
}

@media(min-width:922px){
    .mainContent{
        padding:11px;       
        position: relative;
        padding: 106px;
        left: 20%;

    }
}
.sideDesktop{
    height: 124px;
}

.help-text{
    padding-left: 12px;
    padding-top: 8px;
    font-size: 10px;
    font-family: sprint-Regular;
}

.questions-time{
    font-size: 20px;
    color:#768691;
    font-family: "sprint-med-Regular";
}

.h5, h5{
    font-size: 24px;
    font-family: "sprint-Regular";
    padding-bottom: 17px;
}

.user-info-align{
    padding-left: 12px !important;
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) { 
    .container-ipad-portraid{
        height: 81%;
    }

    .leyend{
        width: 688px;
        text-align: justify;
        font-family: "sprint-Regular";
        font-size: 9px !important;
    }
    hr.hidden-md-up.not-visible{
        display: none;
    }
    .path>label p {
        margin-left: 195px;
        text-align: justify;
    }

    img.hidden-md-up.not-visible.go-btn-company{
        display: none;
    }
    .result-container{
        width: 100%;
    }
}

 @media only screen 
    and (min-device-width: 768px) 
    and (max-device-width: 1024px) 
    and (orientation: landscape) { 
        .footer-desktop{
            position:inherit;
        }
 }
 
 @media only screen 
 and (min-device-width: 1024px) 
 and (max-device-width: 1366px) 
 and (orientation: portrait) { 
    .survey-sidebar{
        height: 87%;
    }
    .path>label{
        padding-top: 1em;
    }

    .mainContent{
        position: relative;
        left: 13%;
        padding: 0 !important;
        padding-top:106px !important;
        
    }
    .survey-path-sidebar{
        min-width: 300px;
    }
    .leyend{
        width: 511px;
        text-align: justify;
        font-family: "sprint-Regular";
        font-size: 9px !important;
    }
    a#SprintModalBtnResults{
        margin-left: 158px;
    }
    .path>label p {
        margin-left: -9px;
        text-align: justify;
    }
    .multi-selection{
        padding-right: 223px !important;
    }
}

.options{
    background: none;
    font-family: "sprint-med-Regular";
    font-size: 12px !important;
    color: #768692;
}
.select{
    background: none;
    font-family: "sprint-med-Regular";
    font-size: 12px !important;
    color: #768692;
}

h4{
    font-family: "sprint-med-Regular";
    font-size: 24px;
}
p{
    font-family: "sprint-Regular";
    font-size: 12px;
}

.bold-subtitle{
    font-family: "sprint-med-Regular";
}

.text-style{
    font-family: "sprint-med-Regular";
    font-size: 12px !important;
    color: #768692;
}

h1{
    font-size: 48px;
    
    font-family: sprint-med-Regular;
    margin-top: px;
}

.result-subtitle {
    font-size: 16px;
    font-family: "sprint-Regular";

}
.results-text {
    font-family: sprint-Regular;
    font-size: 16px;
}

p#retakeSurvey {
    font-family: "sprint-Regular";
    font-size: 24px;
    padding-top: 28px;
    text-align: right;
}
.index-text{
    font-family: "sprint-Regular";
    font-size: 16px;
}
.see-more-text{
    font-family: "sprint-med-Regular";
    font-size: 16px;
}

.see-more-text-result{
    font-family: "sprint-med-Regular";
    font-size: 16px;
    padding-top: 19px;
    margin-left: 14px;
}
.p-subtitle{
    font-size: 14px;
}
.choose-img{
     margin-left: -22px;
}
img.hidden-md-up.not-visible.go-btn{
    width: 28.8px;
    height: 28.8px;
    margin-left: 25px;
}
div#errorChoosePathMsg {
    font-size: 12px;
    font-family: "sprint-Regular";
}

@media only screen and (max-width: 480px) {  
    .percentages{
       margin-left: -23px;
    }
}

/*--New CSS Rules--*/
#top-links {
    font-size: 0.80em;
}

#top-links li {
    margin: 0;
}

#top-links li a {
    padding: 0 0.5em;
    color : #D5DbDE;
    border-right: 1px solid #D5DbDE;
}

#top-links li:last-child a {
    border: 0;
}

.navbar-toggler {
    color: white;
}

#mobile-footer-links a {
    padding: 0.5em 0;
    font-size: 0.75em;
    font-weight: bold;
}

#mobile-social-links li a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.limit-width {
    max-width: 547px;
}

@media (max-width: 320px) {
    .previous,
    .submit {
        min-width: 80px;
    }
}